.landing-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 9999;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: gap 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: gap;
}

.logo-container.centered {
  justify-content: center;
  align-items: center;
  gap: 0;
}

.logo-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  position: relative;
}

.logo-image {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  max-width: none;
  max-height: none;
  object-fit: contain;
}


.logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -120px;
  width: auto;
  max-width: 1000px;
}

.logo-text-image {
  height: 700px;
  width: auto;
  object-fit: contain;
  display: block;
}



@media (max-width: 600px) {
  .logo-icon {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
  
  .logo-image {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
  
  .logo-text-image {
    height: 700px;
  }
}